.video-card {
  border: 5px solid var(--color, red);
  border-radius: 15px;
}

.video-card .video-image {
  position: relative;
  width: 429.19px;
  height: 260.85px;
  border-radius: 10px 10px 0px 0px;
  overflow: hidden;
}

.video-card .video-image img {
  width: 100%;
  height: 100%;
  border-radius: inherit;
  position: relative;
}

.video-card .video-image::before {
  content: "";
  position: absolute;
  inset: 0;
  box-shadow: 0px 0px 17px 8px var(--color, red) inset;
  border-radius: inherit;
  z-index: 1;
  pointer-events: none;
}

.video-card .actions {
  position: relative;
}

.video-card .actions::before {
  content: "";
  position: absolute;
  inset: 0;
  box-shadow: 0px -6px 5px -3px var(--color, red) inset;
  border-radius: inherit;
  pointer-events: none;
}

.delete {
  border-radius: 0px 0px 0px 15px;
}

.edit {
  border-radius: 0px 0px 15px 0px;
}

.video-card .action-button {
  width: 50%;
  height: 59px;
  border: 0px;

  font-family: Roboto;
  font-size: 16px;
  font-weight: 800;
  line-height: 18.75px;
  text-align: left;
  text-align: center;
  background-color: #000000e5;
  color: #ffffff;
}
